body {
  margin: 0;
  font-size: 2em;
}

h1,
p {
  margin: 0;
}

div.container {
  background: pink;
}

div.container:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

section.item {
  float: left;
  padding: 5%;
}

section.item-a {
  width: 30%;
  background-color: yellow;
}

section.item-b {
  width: 50%;
  background-color: yellowgreen;
}

footer {
  clear: both;
  background: gray;
}
