body {
  margin: 0;
}

h1,
p {
  margin: 0;
}

div.container {
  background: pink;
}

section.item {
  padding: 5%;
}

section.item-a {
  background-color: yellow;
}

section.item-b {
  background-color: yellowgreen;
}

@media screen and (min-width: 700px) {
  div.container {
    font-size: 0;
  }

  section.item {
    vertical-align: top;
    display: inline-block;
    font-size: 1rem;
  }

  section.item-a {
    width: 30%;
  }

  section.item-b {
    width: 50%;
  }
}
