html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
  font-size: 14px;
}

html * {
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
}

div.container {
  width: 100%;
  height: 100%;
}

div.codiv-info {
  width: 100%;
  background: #222;
}

div.codiv-info > aside {
  display: flex;
  justify-content: center;
  padding: 20px 80px;
}

div.codiv-info > aside > a {
  line-height: 18px;
  color: #a3a3a3;
  text-decoration: underline;
}

div.codiv-info > aside > a:hover {
  color: #898989;
}

header.main-header {
  width: 100%;
  height: 80px;
  position: absolute;
  font-size: 1.142rem;
  transition: background 0.2s;
  z-index: 100;
}

header.header-scrolled {
  position: fixed;
  top: 0;
  background: #fff;
  -webkit-box-shadow: rgb(0 0 0 / 8%) 0px 1px 12px;
  -moz-box-shadow: rgb(0 0 0 / 8%) 0px 1px 12px;
  box-shadow: rgb(0 0 0 / 8%) 0px 1px 12px;
}

header.main-header > div.header-wrapper {
  padding: 0 80px;
  max-width: 1760px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.header-wrapper a.header-scrolled {
  color: #222 !important;
}

div.header-wrapper > div.logo-section {
  display: flex;
  flex: 1;
}

div.logo-section > a.header-logo {
  cursor: pointer;
}

div.logo-section > a.header-logo > svg.logo-icon {
  color: #fff;
}

div.logo-section > a.header-logo > svg.header-scrolled {
  color: #ff385c !important;
}

div.header-wrapper nav.nav-section {
  font-size: 0;
}

div.header-wrapper nav.header-scrolled {
  display: none !important;
}

nav.nav-section a {
  padding: 10px 16px;
  font-size: 1.142rem;
  color: #fff;
}

nav.nav-section a:hover {
  opacity: 0.7;
}

div.profile-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

div.profile-section a {
  padding: 12px;
}

a.host-item {
  font-size: 1rem;
  font-weight: 600;
  position: relative;
  color: #fff;
}

div.profile-section a.host-item:hover::before {
  content: "";
  width: 93.55px;
  height: 42px;
  background-color: rgba(255, 255, 255, 0.15);
  position: absolute;
  top: -1px;
  left: -2px;
  border-radius: 22px;
}

div.profile-section a.globe-item {
  position: relative;
}

div.profile-section a.globe-item:hover::before {
  content: "";
  width: 46px;
  height: 43px;
  background-color: rgba(255, 255, 255, 0.15);
  position: absolute;
  top: -1px;
  left: -3px;
  border-radius: 22px;
}

div.profile-section svg.globe-icon {
  width: 16px;
  height: 16px;
  color: #fff;
}

svg.header-scrolled {
  color: #222 !important;
}

div.profile-section > button.profile-button {
  width: 77px;
  height: 42px;
  padding: 5px 12px 5px;
  margin-left: 8px;
  display: flex;
  background: #fff;
  align-items: center;
  border-radius: 22px;
  cursor: pointer;
  border: 1px solid #fff;
}

div.profile-section > button.header-scrolled {
  border: 1px solid #dddddd !important;
}

button.profile-button > img.menu-icon {
  width: 16px;
  height: 16px;
  filter: invert(11%) sepia(5%) saturate(4%) hue-rotate(321deg) brightness(93%)
    contrast(92%);
}

button.profile-button > img.avatar-icon {
  width: 30px;
  height: 30px;
  margin-left: 12px;
  filter: invert(49%) sepia(5%) saturate(3%) hue-rotate(335deg) brightness(89%)
    contrast(93%);
}

div.content-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

div.new-content-wrapper {
  position: relative;
  background-image: url(./images/main-background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

div.new-content {
  max-width: 1600px;
  height: 626px;
  padding: 146px 80px 40px;
  display: flex;
  flex: 1;
}

div.new-content > div.new-content-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

div.new-content-section > img.airbnb-year-logo {
  height: 50px;
}

div.new-content-section > span {
  color: #222;
  font-size: 2.625rem;
  font-weight: 600;
  line-height: 2.625rem;
  letter-spacing: -0.84px;
}

div.new-content-section > button {
  margin-top: 16px;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  background: #222;
  font-size: 1rem;
  color: white;
  cursor: pointer;
}

div.nearby-destinations-section {
  flex: 1;
  max-width: 1600px;
  height: 260px;
  margin: 24px 0;
  padding: 0 80px;
}

div.nearby-destinations-section > h1 {
  font-size: 32px;
  padding-bottom: 16px;
}

div.nearby-destinations-section > div.nearby-destinations-card-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

div.nearby-destinations-card-section div.nearby-destinations-card {
  width: 304.25px;
  height: 64px;
  display: flex;
}

div.nearby-destinations-card > img.card-image {
  width: 64px;
  height: 64px;
  border-radius: 8px;
  margin-right: 16px;
}

div.nearby-destinations-card div.card-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.card-description > b {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 20px;
}

div.card-description > span {
  font-size: 1.125rem;
  line-height: 20px;
}

div.concept-section {
  flex: 1;
  max-width: 1600px;
  padding: 0 80px;
}

div.concept-section > h1 {
  font-size: 32px;
  padding-bottom: 16px;
}

div.concept-section > div.concept-card-section {
  display: flex;
}

div.concept-card-section > a {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-right: 10px;
}

div.concept-card-section a img.card-image {
  width: 100%;
  border-radius: 8px;
}

div.concept-card-section a span {
  margin-top: 8px;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  color: #222;
}

div.trip-ideas-section {
  flex: 1;
  display: flex;
  max-width: 1600px;
  padding: 0 80px;
  margin: 24px 0;
  height: 400px;
}

div.trip-ideas-section > a.trip-ideas-link {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 80px;
  color: #222;
  border-radius: 16px;
  background-image: url(./images/trip-ideas-image.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

div.trip-ideas-section > a.trip-ideas-link span:nth-child(1) {
  font-size: 48px;
  font-weight: 600;
  line-height: 52px;
}

div.trip-ideas-section > a.trip-ideas-link span:nth-child(2) {
  padding-top: 12px;
  font-size: 18px;
  line-height: 24px;
}

div.trip-ideas-section > a.trip-ideas-link > button {
  width: 165.55px;
  height: 48px;
  margin-top: 40px;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  background: #222;
  border: none;
  border-radius: 8px;
}
