html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
  font-size: 14px;
}

html * {
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
}

div.container {
  width: 100%;
  height: 100%;
}

div.codiv-info {
  width: 100%;
  background: #222;
}

div.codiv-info > aside {
  display: flex;
  justify-content: center;
  padding: 20px 80px;
}

div.codiv-info > aside > a {
  line-height: 18px;
  color: #a3a3a3;
  text-decoration: underline;
}

div.codiv-info > aside > a:hover {
  color: #898989;
}

header.main-header {
  width: 100%;
  height: 80px;
  display: flex;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
  font-size: 1.142rem;
  z-index: 100;
}

header.main-header > div.logo-section {
  flex: 1;
}

div.logo-section > a.header-logo {
  cursor: pointer;
}

div.logo-section > a.header-logo > img {
  filter: invert(100%) sepia(91%) saturate(38%) hue-rotate(321deg)
    brightness(110%) contrast(110%);
}

header.main-header nav.nav-section {
  font-size: 0;
}

nav.nav-section a {
  padding: 10px 16px;
  font-size: 1.142rem;
  color: #fff;
}

nav.nav-section a:hover {
  opacity: 0.7;
}

div.profile-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

div.profile-section a {
  padding: 12px;
}

div.profile-section a.host-item {
  font-size: 1rem;
  font-weight: 600;
  position: relative;
  color: #fff;
}

div.profile-section a.host-item:hover::before {
  content: "";
  width: 93.55px;
  height: 42px;
  background-color: rgba(255, 255, 255, 0.15);
  position: absolute;
  top: -1px;
  left: 0;
  border-radius: 22px;
}

div.profile-section img.globe-icon {
  width: 16px;
  height: 16px;
}

div.profile-section > button.profile-button {
  width: 77px;
  height: 42px;
  padding: 5px 12px 5px;
  margin-left: 8px;
  display: flex;
  background: #fff;
  align-items: center;
  border-radius: 22px;
  border: none;
  cursor: pointer;
}

button.profile-button > img.menu-icon {
  width: 16px;
  height: 16px;
  filter: invert(11%) sepia(5%) saturate(4%) hue-rotate(321deg) brightness(93%)
    contrast(92%);
}

button.profile-button > img.avatar-icon {
  width: 30px;
  height: 30px;
  margin-left: 12px;
  filter: invert(49%) sepia(5%) saturate(3%) hue-rotate(335deg) brightness(89%)
    contrast(93%);
}

div.main-content {
  width: 100%;
  height: 626px;
  padding: 146px 80px 40px;
  display: flex;
  position: relative;
  background-image: url(./images/main-background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

div.main-content > div.new-content-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

div.new-content-section > img.airbnb-year-logo {
  width: 170px;
  height: 50px;
}

div.new-content-section > span {
  color: #222;
  font-size: 2.625rem;
  font-weight: 600;
  line-height: 2.625rem;
  letter-spacing: -0.84px;
}

div.new-content-section > button {
  margin-top: 16px;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  background: #222;
  font-size: 1rem;
  color: white;
}
